form {
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    margin: 0 auto;
    padding-top: .5rem;
}

input[type="text"],
input[type="number"],
textarea {
    font-size: 14px;
}

textarea {
    resize: none;
    height: min-content;
}

.submit-button {
    padding: 5px;
    width: min-content;
    height: min-content;
    font-size: 16px;
}

