form {
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    margin: 0 auto;
    padding-top: .5rem;
}

#user-select {
    font-size: .6em;
    height: 2.5rem;
}

input[type="text"],
input[type="number"],
textarea {
    font-size: .6em;
    height: 1.2rem;
}

textarea {
    resize: none;
    height: min-content;
}

.submit-button {
    padding: 5px;
    width: min-content;
    height: min-content;
    font-size: .8em;
}

