nav {
    display: flex;
    height: 3.5rem;
    align-items: center;
    padding: 0 20px;
    background-color: #f0f0f0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.image-container {
    width: 8vw;
}

.header-container {
    width: 80vw;
}

.header-ul {
    list-style: none;
    justify-content: space-evenly;
}

li {
    font-size: 14px;
}