
form {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    margin: 0 auto;
    padding-top: 1.5rem;
}

input[type="text"],
input[type="number"],
textarea {
    font-size: 16px;
    resize: none;
    height: min-content;
}

button {
    padding: 5px;
    width: 8vw;
    height: 4vw;
    font-size: 16px;
}

