.comments-ul {
  height: max-content;
  background-color: #f6f6f6b2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 2px;
}

.comment {
  font-size: 16px;
}

.comment-user-name {
  font-size: 12px;
}

.button-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.comment-icon {
  padding-right: 4px;
}
